<!DOCTYPE html>
<html>
  <head>
    <title><%= blog.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= blog.title %></h1>
    <p><%= blog.body %></p>

    <ul>
      <% comments.forEach(function(comment){ %>
        <li><%= comment.body; %></li>
      <% }); %>
    </ul>

  </body>
</html>
