
<!DOCTYPE html>
<html>
  <head>
    <title>New Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (errors) { %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error; %></li>
          <% }); %>
      </ul>
    <% } %>


    <form action="/blogs/create" method="post">
      <label for="title">Enter name: </label>
      <input id="title" type="text" name="title"/>

      <label for="body">Enter name: </label>
      <input id="body" type="text" name="body"/>

      <input type="submit" value="OK" />
    </form>
  </body>
</html>
