
<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (errors) { %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error; %></li>
          <% }); %>
      </ul>
    <% } %>


    <form action="/users/regester" method="post">
      <label for="username">Enter name: </label>
      <input id="username" type="text" name="username"/>

      <label for="password">Enter name: </label>
      <input id="password" type="text" name="password"/>

      <input type="submit" value="OK" />
    </form>
  </body>
</html>
